
%section
  %h2 About me
  .row
    .large-8.columns
    - data.me.each_slice(2) do |group|
      .row
      - group.each do |project|
        - image_url = get_image(project[:image_url])
        .large-6.small-6.columns
          #cell_big
            = image_tag image_url
            .panel
              %h5= project[:type]
              %h6.subheader= project[:line]
%section
  .area
    %h2 Programming Experience
    .row
      .large-8.columns
      - data.coding.each do |line|
        .row
          %h3= line.type
          %p= line.line
